div {
  animation: mymove 4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

div:hover{
  animation-play-state: paused;
}
@keyframes mymove {
    from {left: 0px;} /* 0% */
    to {left: 200px;} /* 100% */
}

@keyframes mymove {
  0%{
      left: 0px;
}

  100% {
    left: 200px;
  }